@model TransforMe.ViewModels.ProgressionViewModel


<div class="card mb-4 box-shadow rounded-0" style="width: 250px;height: auto;margin-top: 2%;display: inline-block;">
    <img class="card-img-top w-100 d-block rounded-0" style="height:250px;width:auto" src="@Url.Content(Model.ProgressPicture)">
    <div class="card-body">
        <h4 class="card-title">@Model.Username</h4>
        <h6 class="text-muted card-subtitle mb-2">Bodyweight : @Model.Bodyweight KG</h6>
        <h6 class="text-muted card-subtitle mb-2">@Model.Date.ToShortDateString()</h6>
    </div>
</div>