@model TransforMe.ViewModels.MessageViewModel

@{
    ViewData["Title"] = "AddMessage";
}

<h1>AddMessage</h1>

<h4>MessageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMessage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="col midcol" style="width: auto;">
    <form>
        <div class="form-group"><img style="width: 300px;height: auto;/*float: left;*/" src="assets/img/2.jpg"></div><input type="file" style="padding-bottom: 1%;">
        <input class="form-control" type="text" style="float: right;width: 50%;padding-top: 3px;margin-top: -45%;"
               placeholder="Bodyweight (KG)"><input class="form-control" type="date" style="width: 50%;float: right;margin-top: -38%;">
        <div class="form-group"><button class="btn btn-primary" type="button">Add progression</button></div>
    </form>
    <div class="card mb-4 box-shadow rounded-0" style="width: 250px;height: auto;margin-top: 2%;display: inline-block;">
        <img class="card-img-top w-100 d-block rounded-0" src="assets/img/minibus.jpeg">
        <div class="card-body">
            <h4 class="card-title">username</h4>
            <h6 class="text-muted card-subtitle mb-2">bodyweight</h6>
            <h6 class="text-muted card-subtitle mb-2">date</h6>
        </div>
    </div>
    <div class="card mb-4 box-shadow rounded-0" style="width: 250px;height: auto;margin-top: 2%;display: inline-block;">
        <img class="card-img-top w-100 d-block rounded-0" src="assets/img/minibus.jpeg">
        <div class="card-body">
            <h4 class="card-title">username</h4>
            <h6 class="text-muted card-subtitle mb-2">bodyweight</h6>
            <h6 class="text-muted card-subtitle mb-2">date</h6>
        </div>
    </div>
</div>