@model TransforMe.ViewModels.ProgressionViewModel

@{
    ViewData["Title"] = "AddProgression";
}

<h1>AddProgression</h1>

<h4>ProgressionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProgression" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProgressPicture" class="control-label"></label>
                <input name="picture" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="ProgressPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bodyweight" class="control-label"></label>
                <input asp-for="Bodyweight" class="form-control" />
                <span asp-validation-for="Bodyweight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
