@model TransforMe.ViewModels.UserIndexViewModel

@{
    ViewData["Title"] = "TransforMe - Home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="col midcol" style="width: auto;">
    <form asp-action="Index" asp-controller="Message" class="text-break text-center messageform">
        <strong>Post a message</strong>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <textarea id="message" name="text" asp-for="Message.Text" class="border rounded-0 shadow-sm form-control" placeholder="Say something..." rows="14"></textarea>
            <span asp-validation-for="Message.Text"></span>
        </div>
        <div class="form-group text-right"><button id="messageBtn" class="btn btn-primary" type="submit">Post</button></div>
    </form>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active text-center msgtab" role="tab" data-toggle="tab" href="#tab-1">Messages</a></li>
            <li class="nav-item"><a class="nav-link text-center prgtab" role="tab" data-toggle="tab" href="#tab-2">Progressions</a></li>
        </ul>
        <div class="interaction-content">
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
                    <div class="text-left">
                        @foreach (var item in Model.Messages)
                        {
                            Html.RenderPartial("_MessagesPartial", item);
                        }
                    </div>
                </div>
                <div class="tab-pane text-center" role="tabpanel" id="tab-2">
                    @foreach (var item in Model.Progressions)
                    {
                        Html.RenderPartial("_ProgressionsPartial", item);
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        @if (TempData["success-feedback"] != null) {
            @:alertify.success('@TempData["success-feedback"]');
        }
        @if (TempData["error-feedback"] != null)
        {
            @:alertify.error('@TempData["error-feedback"]');
        }
        @if (TempData["error-mbox"] != null)
        {
            @:var alert = alertify.alert('@TempData["error-mbox"]');
            @:alert.set('Label', 'Got it!');
            @:alert.show();
        }
    </script>

}